on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    name: Build for PR
    uses: ./.github/workflows/build-app.yaml
    with:
      artifact_name: 'pr-site'

  build-docker:
    runs-on: ubuntu-latest
    outputs:
      container-tag: ghcr.io/terra-magma/terrastack-docs:${{ github.sha }}.${{ steps.timestamp.outputs.container-tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get PR Number
        id: timestamp
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TIMESTAMP=$(printf '%(%Y.%m.%d.%H%M%S)T\n' -1)
          echo "container-tag=$TIMESTAMP" >> $GITHUB_OUTPUT

      - name: Docker Build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/terra-magma/terrastack-docs:${{ github.sha }}.${{ steps.timestamp.outputs.container-tag }}

  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    needs: [ build, build-docker ]

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Format
        run: terraform fmt -check
        working-directory: ./terraform

      - name: Terraform Plan
        env:
          TF_VAR_github_registry_username: ${{ github.actor }}
          TF_VAR_github_registry_access_token: ${{ secrets.GITHUB_TOKEN }}
          TF_VAR_gcp_project_id: ${{ secrets.GCP_PROJECT_ID }}
          TF_VAR_google_service_account_id: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_ID }}
          TF_VAR_app_image: ${{ needs.build-docker.outputs.container-tag }}
        run: terraform plan -input=false
        working-directory: ./terraform
