name: Push to IIS Server

on:
  push:
    branches:
      - main
  workflow_dispatch:


jobs:
  build:
    name: Build for PR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm ci --verbose

      - name: Build with Next.js
        id: build
        shell: bash
        run: |
          set -o pipefail
          if ! npx next build 2> >(tee build-errors.txt >&2); then
            echo "## âŒ Build failed" >> $GITHUB_STEP_SUMMARY
            echo '```' >> $GITHUB_STEP_SUMMARY
            if [ -f build-errors.txt ]; then
              cat build-errors.txt >> $GITHUB_STEP_SUMMARY
            fi
            echo '```' >> $GITHUB_STEP_SUMMARY
            exit 1
          fi
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nextjs-build
          path: |
            .next
            node_modules
            server.js
            web.config
  
  

  deploy:
    runs-on: iis
    needs: build
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: nextjs-build

      - name: Move application files
        run: |
          Copy-Item -Path "./nextjs-build/*" -Destination "C:/inetpub/TerraMagma/TerraStack/docs" -Recurse -Force
        shell: powershell